@model RegisterViewModel

<h2>Kayıt Ol</h2>


@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="text-danger">@error.ErrorMessage</div>
}

<form asp-action="Register" method="post">
    <div>
        <label>Kullanıcı Adı</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Şifre</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label>Şifre Tekrar</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit">Kayıt Ol</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
