@model CategoryAddRequestDto

<form asp-action="Add" asp-controller="Categories" method="post" style="width:50%" >
   
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Kategori Adı</label>
        <input asp-for="Name"  type="text" class="form-control" >
    </div>

    <button type="submit" class="btn btn-outline-success">Kaydet</button>
</form>